body {
    background-color: #000000; /* Endre til svart bakgrunnsfarge */
    color: #ffffff; /* Endre til hvit tekstfarge */
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Sentrer innholdet */
}

.intro-section, .articles-section {
    margin-bottom: 20px;
}

/* ... (tidligere CSS-stiler) ... */

/* Ny stil for footer */
footer {
    background-color: #000000; /* Svart bakgrunnsfarge for footer */
    padding: 20px;
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-links li {
    display: inline-block;
    margin-right: 10px;
}

footer .social-links li:last-child {
    margin-right: 0;
}
