/* CSS-stiler for startsiden som er tidligere definert i index-style.css */
/* ... (Tidligere stiler) ... */

/* Ny CSS for gjennomsiktig bakgrunn og svarte rammer */
.social-links li a {
    background-color: rgba(34, 34, 34, 0.7); /* Delvis gjennomsiktig svart bakgrunn */
    border: 1px solid #000; /* Legg til en svart kantlinje */
    color: #ffffff; /* Endre tekstfargen til hvit */
    /* Annen CSS-stil for a-elementet */
}

.articles-section .article {
    background-color: rgba(34, 34, 34, 0.7); /* Delvis gjennomsiktig svart bakgrunn */
    border: 1px solid #000; /* Legg til en svart kantlinje */
    color: #ffffff; /* Endre tekstfargen til hvit */
    /* Annen CSS-stil for article-elementet */
}
