body {
    background-image: url('https://media.giphy.com/media/3oz8xsUEU0gNcGr2Pm/source.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}

/* Fjerne tidligere definerte farger og stiler for footer */
footer {
    background: none;
    border: none;
}

footer .social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-links li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 5px;
}

footer .social-links li:last-child {
    margin-right: 0;
}

footer .copyright-info {
    font-size: 14px;
    color: #ffffff;
}

footer .contact-info {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}
