body, html {
    height: 100%;
    margin: 0;
}

.startup-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Bytt ut med ønsket bakgrunnsfarge */
}

.startup-animation img {
    max-width: 100%;
    height: auto;
    animation: fadeIn 4s ease forwards, fadeOut 1s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
