body {
    background-image: url('https://media.giphy.com/media/3oz8xsUEU0gNcGr2Pm/source.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Juster høyden til viewport-høyde */
    margin: 0;
}

/* ... (tidligere stiler) ... */

footer {
    background: none;
    border: none;
    text-align: center;
}

/* ... (tidligere stiler) ... */
